<%- model_class = AppDay -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %> <%= @app_day.created_at.to_date %> <%= nice_child_link(@app_day.childern) %></h1>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <a href="<%= food_activities_path(day: @app_day.created_at.to_date, child: @app_day.childern_id) %>">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-cutlery fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @app_day.food %></div>
              <div><%= model_class.human_attribute_name(:food) %></div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-futbol-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @app_day.outdoors %></div>
            <div><%= model_class.human_attribute_name(:outdoors) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-moon-o  fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @app_day.sleep %></div>
            <div><%= model_class.human_attribute_name(:sleep) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="well">
    <h3><%= @app_day.thema %></h3>
    <p><%= @app_day.comment %></p>
  </div>
</div>
<% if @images %>
    <div class="row">
      <% @images.each{|image|%>
          <div class="col-lg-3 col-md-6">
            <div class="well">
              <%=image_tag(image.image_url, size: "250x200")%>
            </div>
          </div>
      <%}%>
    </div>
<%end%>
<div class="row">

  <%= link_to t('.back', :default => t("helpers.links.back")),
              app_days_path, :class => 'btn btn-default' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_app_day_path(@app_day), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              app_day_path(@app_day),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-danger' %>

</div>



